/* ===== GLOBAL ===== */
body {
  background: #0e0e0e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== HERO SECTION ===== */
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(167, 161, 161, 0.9)),
    url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74") center/cover no-repeat;
  padding: 120px 0;
  text-align: center;
  height: 350px;
}


.hero h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ff4d30;
}

.hero p {
  opacity: 0.8;
}

/* ===== BUTTON ===== */
.btn-main {
  background: #ff4d30;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-main:hover {
  background: #e84328;
}

/* ===== ABOUT STATS ===== */
.stat-box {
  background: #ff4d30;
  padding: 30px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.stat-box small {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

/* ===== DARK CARD ===== */
.dark-card {
  background: #161616;
  padding: 25px;
  height: 100%;
  text-align: center;
}

.dark-card small {
  display: block;
  margin-top: 10px;
  opacity: 0.7;
}

/* ===== LIST ===== */
ul li {
  margin-bottom: 8px;
}

/* ===== MISSION & VISION ===== */
.section-title {
  font-weight: 700;
  margin-bottom: 30px;
}

/* ===== CORE VALUES ===== */
.icon-box {
  text-align: center;
}

.icon-box i {
  font-size: 32px;
  color: #ff4d30;
  margin-bottom: 12px;
}

.icon-box h6 {
  font-weight: 600;
}

/* ===== CTA ===== */
.cta {
  background: #ff4d30;
  padding: 50px 0;
  text-align: center;
}

.cta h3 {
  font-weight: 700;
}

