.hero-section {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/banner/2.jpg") center/cover no-repeat;
}

body {
  padding-top: 70px;
}

.hero-slide {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero-slide .container {
  position: relative;
  z-index: 2;
}

.program-card {
  text-decoration: none;
  color: inherit;
}

.program-card .card {
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.program-card .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  background: #d2d6d1;
  color: #fff;
}

.program-card .card:hover p {
  color: #101011;
}

.icon {
  font-size: 82px;
}
